<div class="media-grid__wrapper">
  <figure class="media-grid__item {{ large ? 'media-grid__item--large' : 'media-grid__item--small' }}">
    {% if videoUrl %}
      <div class="media media--video">
        <video class="media__object" src="{{ videoUrl }}#t=0.1" preload="metadata" playsinline muted></video>
        <button type="button" class="media__play" aria-label="Play video"></button>

        {# <div class="progress">
          <div class="progress__bar"
            role="progressbar"
            aria-label="Video progress"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"></div>
        </div> #}
      </div>
    {% endif %}

    {% if imageUrl %}
      <div class="media media--image">
        <img src="{{ imageUrl }}" alt="{{ name }}" width="{{ large ? '1200' : '320' }}" height="{{ large ? '750' : '320' }}" loading="lazy" />
      </div>
    {% endif %}

    <figcaption class="media-grid__caption js-scroll-reveal">
      {{ name }} ⏤{% if link %}
        <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
          <span>{{ label }}</span>
          <img src="img/icons/arrow-external.svg" alt="" class="icon" />
        </a>
      {% else %}
        {{ label }}
      {% endif %}
      {% if description %}
        <br />{{ description }}
      {% endif %}
    </figcaption>
  </figure>
</div>
